In [78]:
from bs4 import BeautifulSoup
import requests
import os
import re
import pandas as pd

In [7]:
#try to create a new folder 'data'
try:
    os.mkdir('data')
    print("directory created")
except Exception as e: #'e' means for the same instruction - in this case, the directory 'data'
    print(f"Directory already exists {e}")
    pass

Directory already exists [WinError 183] Cannot create a file when that file already exists: 'data'

In [27]:
def save(t,n):
    #input the job page content as soup object t
    #convert t to string s
    s=t.prettify()
    
    #save the job page content in a text file number n as string
    with open(f"data/{n}.txt","w",encoding='utf-8') as g:
        g.write(s)
    return

In [28]:
def scrape(x,y):
    #to scrape the pages from page x to page y where y>=x.
    #it returns a list of soup objects of job page content
    
    #get the link
    URL = "https://hk.jobsdb.com/hk/search-jobs/data-scientist/"
    
    for p in range(x,y+1):
        #to make valid URL e.g https://hk.jobsdb.com/hk/search-jobs/data-science/1
        nextlink = URL+str(p)
        
        #if the link exists,get the resources
        if nextlink:
            html = requests.get(nextlink)
            soup = BeautifulSoup(html.text, "html.parser")

            #to find the links(directing to the job pages) from the resources
            #list l stores all the links
            l=[]
            for i in soup.find_all('a', href=True):
                if ('hk/en/job' in i['href'])&(i['href'][0]=="/"):
                    l.append("https://hk.jobsdb.com"+i['href'])

            #go to each job page by each link and get the content
            #result (list) stores the job contents
            result=[]
            for k in range(len(l)):
                i=l[k]
                #print("going to",i) #for checking only
                subhtml = requests.get(i)
                #print("success or not?",subhtml) #for checking only
                jobcontent = BeautifulSoup(subhtml.text, "html.parser")
                result.append(jobcontent)
                save(jobcontent,(p-1)*30+k+1)
                
        
        #if the link does not exist, it breaks the for loop.
        #i found that if the link does not exist, the DB website will
          #redirect you to page 1 automatically, which makes this part of code
          #does not work.
        else:
            print("Page",p,"does not exist.")
            break
    return result

In [29]:
#scrape the pages from 133 to 171
#scrape(133,171) we have done it.

section I: scrapping and saving as text
_______________________________________________
section II: gathering data

In [43]:
#to read the job content.txt:
def read(casenum):
    with open(f"data/{casenum}.txt","r",encoding='utf-8') as onlyread:
        text=onlyread.read()
    with open(f"data/{casenum}.txt","r",encoding='utf-8') as onlyread:
        line=onlyread.readlines()
    soup = BeautifulSoup(text, "html.parser")
    return text,line,soup

In [72]:
#transferred
def wordlocation(text,line,word,min_line,max_line):
    #it returns all the non-coding sentence(str) in a list after the target word
    #if max=min, a string is returned (but not a list)
    
    #text,line: pass variable text and line to the function
    #word: input the target word
    #min/max: the range of the non-coding sentence after the target word
    
    s=str(re.search(word,text))
    l=re.findall('\d+', s)
    if l==[]:
        #print("the word does not exist, return none") #for checking only
        return
    g=text[:int(l[1])+1].count("\n")

    p=1
    result=[]
    for j in range(g+1,g+60):
        if line[j].strip()[0]!="<":
            if ("Additional Information" in line[j].strip())==True:
                #print("already in add. info part") #for checking only
                if p==1:
                    return
                else:
                    if max_line==min_line:
                        return
                    else:
                        return result
            
            if line[j].strip()=="N/A":
                #print("they wrote N/A") #for checking only
                if p==1:
                    return
                else:
                    if max_line==min_line:
                        return
                    else:
                        return result
            
            if (p<=max_line)&(p>=min_line)&(len(line[j].strip())<800):
                if max_line==min_line:
                    return line[j].strip()
                else:
                    result.append(line[j].strip())
                    if p==max_line:
                        return result    
            p+=1

    #print("end of search. return none if nth is found. return a list if sth is found.") #for checking only
    if max_line==min_line:
        return
    else:
        if result==[]:
            return
        else:
            return result

In [45]:
#find post date. It returns date(str) in dd-mmm-yy (date,month,year format)
def date(text):
    s=str(re.search("Posted on",text))
    if s==None:
        s=str(re.search("Posted",text))
        if s==None:
            return
        else:
            return "05-Nov-21"
    else:
        datelist=re.findall('\d+', s)
        y=text[int(datelist[1])+1:int(datelist[1])+10].strip()
        if y[1]=="-":
            return '0'+y
        else:
            return y

In [46]:
#find job title. It returns a string
def job(soup):
    return soup.find('h1').text.strip()

In [47]:
#it returns company name in string
def company(soup):
    longclass="sx2jih0 zcydq82q _18qlyvc0 _18qlyvcv _18qlyvc2 _1d0g9qk4 _18qlyvc9"
    return soup.find('span',class_=longclass).find_next('span',class_=longclass).text.strip()

In [62]:
#find location in string
def location(soup):
    y = soup.find('div',class_="sx2jih0 zcydq832").text
    if y==None:
        return
    else:
        return y.strip()

In [49]:
#find industry in string
def industry(text,line):
    s=str(re.search("Additional Company Information\n",text))
    l=re.findall('\d+', s)
    g=text[:int(l[1])+1].count("\n")
    
    p=0
    for j in range(g,g+20):
        if line[j].strip()[0]!="<":
            p+=1
        if p==2:
            return line[j].strip()
    #print("no industry found. return none") #for checking only
    return

In [50]:
#find years of experience
def exp(text,line):
    return wordlocation(text,line,"Years of Experience\n",1,1)

In [51]:
#find requirements/responsibility in list
def req(text,line,word):
    return wordlocation(text,line,word,1,20)

In [227]:
#find job description
def descri(text,line):
    return wordlocation(text,line,"Job Description",1,80)

In [ ]:
###summary of functions:
#read(casenum): return text,line,soup
#date(text): return str(dd-mmm-yy) / none
#job(soup): return string
#company(soup): return string
#location(soup): return string / none
#industry(text,line): return string / none
#exp(text,line): return string / none
#req(text,line,word): return string / list / none
#descri(text,line): return list / none
#jobinfo(initial_casenum,final_casenum): print all the cases. return none.

section II: gathering data
_________________________________________
section III: finding abnormal job case (e.g no requirements)

In [186]:
#find the job case information,initial_casenum<=final_casenum
def jobinfo(initial_casenum,final_casenum):
    word=["Requirement","requirement","REQUIREMENT","Requirements","requirements","Requirement:","requirement:","Requirements:","requirements:",
      "Responsibility","responsibility","RESPONSIBILIT","Responsibilities","responsibilities","Responsibility:","responsibility:","Responsibilities:","responsibilities:"]

    for i in range(initial_casenum,final_casenum+1):
        text,line,soup=read(i)

        print("job case:",i)
        print("date:",date(text))
        print("job title:",job(soup))
        print("company name:",company(soup))
        print("location:",location(soup))
        print("industry:",industry(text,line))
        print("yrs of exp:",exp(text,line),"\n")
        for j in word:
            print(j,"=>",req(text,line,j),"\n")
        print("______________________The end________________________")
    return

****************************************Please read from here****************************************************
In some cases we could not find any requirements.
job case 3874 is one of the example where there is no job requirement.

In [187]:
jobinfo(3874,3874)

job case: 3874
date: 08-Oct-21
job title: Associate Professor / Assistant Professor (Artificial Intelligence and Educational Technology)
company name: The Education University of Hong Kong
location:
industry: Education
yrs of exp: None

Requirement => None

requirement => None

REQUIREMENT => None

Requirements => None

requirements => None

Requirement: => None

requirement: => None

Requirements: => None

requirements: => None

Responsibility => None

responsibility => None

RESPONSIBILIT => None

Responsibilities => None

responsibilities => None

Responsibility: => None

responsibility: => None

Responsibilities: => None

responsibilities: => None

______________________The end________________________

In [231]:
#since in most of the job cases the key words could be "requirement:","requirements"...etc, we searched all of them.

#to make a dataframe showing the requirement of job cases
word=["Requirement","requirement","REQUIREMENT","Requirements","requirements","Requirement:","requirement:","Requirements:","requirements:",
      "Responsibility","responsibility","RESPONSIBILIT","Responsibilities","responsibilities","Responsibility:","responsibility:","Responsibilities:","responsibilities:"]
df = pd.DataFrame(columns=word,index=range(3872,4001))


for i in range(3872,4001):
    text,line,soup=read(i)

    for j in word:
        if (req(text,line,j)!=None)&(req(text,line,j)!=[]):
            df.loc[i,j] = 1 #if the requirement/responsibility is not empty,insert 1.

In [232]:
df
#if the requirement/responsibility is not empty,it shows 1.

,Requirement,requirement,REQUIREMENT,Requirements,requirements,Requirement:,requirement:,Requirements:,requirements:,Responsibility,responsibility,RESPONSIBILIT,Responsibilities,responsibilities,Responsibility:,responsibility:,Responsibilities:,responsibilities:
3872,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
3873,1,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN
3874,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3875,1,1,NaN,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN
3876,1,1,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3996,1,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN
3997,1,1,NaN,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN
3998,1,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
3999,1,1,NaN,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN
4000,1,1,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN

In [233]:
#Question: Which job case does not have any requirement or responsibility?
df["sum_req"] = df.notnull().iloc[:,:9].sum(axis=1) #it is the number of job requirements in the job case.
df["sum_res"] = df.notnull().iloc[:,9:18].sum(axis=1) #it is the number of job responsibilities in the job case.

In [234]:
df

,Requirement,requirement,REQUIREMENT,Requirements,requirements,Requirement:,requirement:,Requirements:,requirements:,Responsibility,responsibility,RESPONSIBILIT,Responsibilities,responsibilities,Responsibility:,responsibility:,Responsibilities:,responsibilities:,sum_req,sum_res
3872,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,1,1
3873,1,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,3,2
3874,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3875,1,1,NaN,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,5,2
3876,1,1,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3996,1,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,3,2
3997,1,1,NaN,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,5,2
3998,1,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,3,1
3999,1,1,NaN,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,5,2
4000,1,1,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,4,1

In [235]:
print(sum(df.sum_req==0)) #there are 23 job cases which have NO requirements
print(sum(df.sum_res==0)) #there are 39 job cases which have NO responsibilities.
print(len(df)) #I have only taken 129 samples of job cases for inspection.

23
39
129

In [236]:
#Let's find the case which have NO requirements and NO responsibilities.
abnormal=df[(df.sum_req==0) & (df.sum_res==0)]
print(len(abnormal)) #there are 16 job cases which have no req/res.
abnormal #it shows all. To find the information of the job case, use the function jobinfo(initial_casenum,final_casenum).

16

,Requirement,requirement,REQUIREMENT,Requirements,requirements,Requirement:,requirement:,Requirements:,requirements:,Responsibility,responsibility,RESPONSIBILIT,Responsibilities,responsibilities,Responsibility:,responsibility:,Responsibilities:,responsibilities:,sum_req,sum_res
3874,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

In [237]:
#job case 3981 is another example of no requirement
jobinfo(3981,3981)
#After searching the job content on Jobsdb, we found that there is no requirement because they used the keyword "job description"

job case: 3981
date: 27-Oct-21
job title: IT Support
company name: Varadise Limited
location: Shatin Area
industry: Architecture/Building/Construction
yrs of exp: 2 years

Requirement => None

requirement => None

REQUIREMENT => None

Requirements => None

requirements => None

Requirement: => None

requirement: => None

Requirements: => None

requirements: => None

Responsibility => None

responsibility => None

RESPONSIBILIT => None

Responsibilities => None

responsibilities => None

Responsibility: => None

responsibility: => None

Responsibilities: => None

responsibilities: => None

______________________The end________________________

In [238]:
#Which keywords are used the most?
df.notnull().sum()
#we use it for reference to decide which keywords should be found first.

Requirement           87
requirement           52
REQUIREMENT            4
Requirements          77
requirements          37
Requirement:           7
requirement:           0
Requirements:         53
requirements:          1
Responsibility         3
responsibility         7
RESPONSIBILIT          9
Responsibilities      72
responsibilities       9
Responsibility:        1
responsibility:        0
Responsibilities:     47
responsibilities:      4
sum_req              129
sum_res              129
dtype: int64

In [239]:
#What if we search Job Description?

print(abnormal.index)#abnormal is the dataframe showing all abnormal cases with no requirements/responsibilities.

for i in abnormal.index:
    text,line,soup=read(int(i))
    print("case number:",i)
    print("Any Job Description?=>",req(text,line,"Job Description"))
#If we search job description, we found the job description successfully.

Int64Index([3874, 3883, 3884, 3890, 3893, 3897, 3901, 3902, 3908, 3918, 3948,
            3951, 3953, 3968, 3981, 3986],
           dtype='int64')
case number: 3874
Any Job Description?=> ['(Ref: AssoProf/AsstProf/MIT/0921)', 'Department of Mathematics and Information Technology Faculty of Liberal Arts and Social Sciences', 'The Department is now seeking enthusiastic, qualified and highly dedicated person to take part in a number of teaching and research activities in artificial intelligence and educational technology. The appointee is expected to teach undergraduate and postgraduate courses, conduct research, supervise student projects and field experiences, and undertake administrative duties as assigned.', 'For information on the Department, please visit this website:', 'http://www.eduhk.hk/mit.', 'Salary will be commensurate with qualifications and experience.', 'Initial appointment will be made on a fixed-term contract. Fringe benefits include contract-end gratuity, leave, medical and dental benefits, and where applicable, housing benefits.', 'Application Forms are obtainable from (a) http://www.eduhk.hk/hro/applyfor.htm; or (b) the Human Resources Office, 3/F, Cho Kwai Chee Foundation Building, The Education University of Hong Kong, 10 Lo Ping Road, Tai Po, New Territories, Hong Kong. The completed Application Form, together with full CV and a statement of their suitability for the post, should be sent to the Human Resources Office by email via "Apply Now" or by post to the above address.', 'Review of applications will start from 4 October 2021, and will continue until the post is filled', '. Applications which are not made in prescribed form, or incomplete, or late, or not signed, or without the required supporting documents may not be considered. Please quote the reference number of the position in the application and mark “Strictly Confidential – Job Application” on the envelope. Personal data provided by applicants will be used for recruitment and other employment- related purposes. For details of the Personal Information Collection Statement, please refer to', 'http://www.eduhk.hk/jobsopp/index.php?glang=en']
case number: 3883
Any Job Description?=> ['The appointee will be assigned to System Services Section of the University Library.\xa0 He/she will be responsible for supporting and enhancing web based programs and applications, maintenance of self-served systems such as Self Pick-up Stations, as well as scripting and coding of other library systems.\xa0 The appointment will initially be a period of two years.', 'Applicants should have an Associate Degree or a Higher Diploma in Computer Science, Information Technology or related fields with at least two years of working experience in web application development.\xa0 Applicants should be self-motivated, willing to learn appropriate technologies and able to work with Library staff of various levels.\xa0\xa0 Fresh university graduates with good potential may also be considered.', 'Salary will be commensurate with qualifications and experience.', 'Initial appointment will be made on a fixed-term contract.\xa0 Fringe benefits include contract-end gratuity, leave, medical and dental benefits.', 'The University only accepts and considers applications submitted online for this post.\xa0 Applicants should complete the online application form and upload a full CV on or before 22 October 2021.\xa0 Applications which are incomplete or without the required documents may not be considered.\xa0 Personal data provided by applicants will be used for recruitment and other employment-related purposes.\xa0 For details of the Personal Information Collection Statement, please refer to http://www.eduhk.hk/jobsopp/index.php?glang=en.', 'All applications will be treated in strict confidence.\xa0 Only those who are shortlisted will be contacted.\xa0 The University reserves the right not to fill the position(s) advertised.', 'Further information about the University is available at http://www.eduhk.hk.', 'EdUHK is an Equal Opportunities Employer.']
case number: 3884
Any Job Description?=> ['Hong Kong Community College (HKCC)', 'Project Technical Assistant', '(Ref. 211008-02)', '[Appointment period: two years initially, possible to renew]', 'Duties', 'The appointee will assist the Project Coordinator in the Education Bureau (EDB) funded project - “Development of a Web-based Remote Laboratory for Science and Engineering Education”.', 'The appointee will (a) provide general administrative support, content management and information record to the project; (b) be responsible to the design and implementation of experimental sets to the web-based remote laboratory system; (c) assist the project team in conducting surveys and data handling, and organising workshops/sharing sessions, and (d) perform any other duties as assigned.', 'Qualifications', 'Applicants should have (a) a higher diploma or a diploma or an equivalent qualification, preferably in Computer Engineering, Electronics Engineering or related disciplines; (b) at least 3 years’ relevant post-qualification experience; (c) sound communication skills; (d) good command of English and Chinese, and (e) be self-motivated, responsible and able to work independently.', 'Possession of working experience in IoT devices will be advantageous.', 'Remuneration', 'Salary offered will be commensurate with qualifications and experience.', 'Application', 'Please complete the job application form which is available on http://www.cpce-polyu.edu.hk/chro/app_form/. For applicants who wish to provide a separate curriculum vitae, they should still complete the job application form for facilitating the recruitment process. Recruitment will continue until the position is filled. Initial consideration of applications will commence in late October 2021.', 'For enquiries/further information, please contact Dr Lo Chi Hang at 3746 0101.']
case number: 3890
Any Job Description?=> ['In the heart of the role:', 'Claim Adjudication', 'Inpatient claims including provider and reimbursement', 'Handle Escalated enquiry from provider', 'Conduct peer review on reimbursed claims and maintain internal audit log', 'Coordination on the medical issue', 'Assessment on the appeal case', 'Support and handle difficulty client escalated by junior staff', 'Contact Provider for medical information and administration issue', 'Assist to Prepare statistic report']
case number: 3893
Any Job Description?=> ['The Job', 'You will be expected to:', 'Perform instruments installation, maintenance and repairing;', 'Provide after-sales operation training and technical support to customers;', 'Carry out regular preventive maintenance visits and reports;', 'On-site services in Hong Kong and Macau;', 'Focusing on customer satisfaction;', 'Manage a small team in service department;', 'Strategy planning;', 'Other ad ho duties.']
case number: 3897
Any Job Description?=> ['The role', 'Deployment team leader is a critical role in ITD to review and deploy technology changes (SCR) on all business applications in our firm.', 'Key accountabilities', 'Review and deploy technology changes (SCR), including', 'Delivery of a new system or a major project delivery enabling a new business unit, opportunities and flow,', 'a major change of business flow on existing application systems', 'an application logic enhancement to suit ever changing business needs and external market events', 'a critical bug fix', 'a security patch to strengthen robustness and close gap with vulnerability', 'Supervise Deployment team and coordinate with development teams carefully reviewing each of their changes,']
case number: 3901
Any Job Description?=> ['The Job', 'Focus on security assessment and monitoring for in-house information security team which caused quality and compliance on both existing and new developed services offering.', 'Support RFP / RFI / Tender proposal together with sales team.', 'Work with internal stakeholders to develop SOW from infrastructure and security perspective.', 'Support information &amp; security solution architect and subject matter expert on overall infrastructure design during POC &amp; site visit.', "Perform required tasks on infrastructure and security strategy, design, implementation and support which aligned with Company's internal process and procedures", 'The Person', 'Degree holder or above in Computer Science / Information Technology or related disciplines', '4-5 years working experience in providing IT infrastructure, security service or solutions for enterprise customers based on multi-technology integration or cloud setup', 'Experience in handling IS audit, including ISO27001 and or PCI DSS is required', 'Good knowledge and experience in security planning and design with different technologies / solution', 'Experience in IT infrastructure or Information Systems auditing is an advantage', 'Self motivated and willing to learn new technology', 'Good communication and presentation skills', 'Proficient in written and spoken English and Chinese']

case number: 3902
Any Job Description?=> ['What effort do you need to make?', 'Handle technical tickets of all Incident and Fault at Customer’s NOC.', 'Troubleshoot &amp; resolve the incidents and problem tickets within SLA', 'Perform Advanced Level Troubleshooting &amp; Analysis of complex problem', 'Interacts effectively with Cisco TAC, Vendor TAC and Engineering to solve complex problems.', 'Simulate the Customer Network architecture within Operations Lab to resolve complex problems and compatibility issues.', 'Collaborate with cross functional teams of Customer, Cisco teams to deliver improved Operations KPI', 'Collaborates with Vendor Engineering teams on complex product and software issues, driving resolution of specific bugs.', 'Share knowledge to the team member’s and participate in the various training programs.', 'Let’s check if you are…']
case number: 3908
Any Job Description?=> ['Your role:', 'Handle customer service hotlines and\xa0provide ease of contact service to customers', 'Support customer accounts with effective order management and service coordination', 'Act as the interface for customers and internal working partners in handling commercial products &amp;\xa0services enquiries and applications', 'Perform any ad hoc assignments as requested', 'To succeed in this role:', 'Diploma or above in Business Administration, Information Technology,\xa0Computer Science\xa0or related disciplines; or', 'DSE/ Form 5 graduates with minimum 2 years\xa0relevant work experience', 'Customer-oriented, innovative and self-confident', 'Good PC skills, familiar with MS Office is an advantage', 'Good command of both spoken and written English &amp; Chinese', 'If you are excited about the new challenging role, please call us at 2883 8518 for more information.', 'Learn more about HKT Commercial Group business portfolios:', 'HKT Enterprise Solutions:', 'https://www.hkt-enterprise.com/']
case number: 3918
Any Job Description?=> ['COLLEGE OF INTERNATIONAL EDUCATION', 'Established in 2000, the College of International Education (CIE) is a self-funded unit of Hong Kong Baptist University (HKBU) offering full-time Associate Degree and Undergraduate Honours Degree programmes at both the HKBU Kowloon Tong and Shatin Shek Mun campuses. It is a major education providing unit of the School of Continuing Education (SCE), one of the eight Faculties/Schools of HKBU. CIE currently enrolls about 4,000 students and is committed to sustaining the University’s mission of providing quality whole-person higher education with a Christian heritage. English is used as the medium of instruction at the College. Applications are now invited for the following position:', 'Lecturer II / Assistant Lecturer in Mathematics (PR0198/21-22)', 'Subjects:', 'Making Sense of Data and Statistics in the Information Age', 'Fundamentals of Applied Statistics in Scientific Research', 'Digital World', 'The appointee is required to perform teaching duties in mathematics, statistics, and related disciplines; provide academic guidance to students; organise and coordinate experiential learning activities for students; and assist in the ongoing review and design of courses and programmes. Applicants who possess a strong link with industries and professional bodies, relevant professional qualifications, and ability to teach both mathematics and information technology are preferred.', 'Applicants should have a higher degree, preferably a doctorate in related disciplines and relevant teaching experience. Applicants must show dedication and strong commitment to teaching and education within and beyond the classroom. They must also be a good team player with excellent communication skills. Candidates with less experience will be considered for the post of Assistant Lecturer.', 'Reference salary range:', 'Lecturer II\xa0\xa0: HK$36,000 - HK$47,000', 'Assistant Lecturer\xa0: HK$29,000 - HK$36,000', 'The appointee will work on either/both the Kowloon Tong or/and Shatin Shek Mun campuses.']
case number: 3948
Any Job Description?=> ['THE JOB', 'Partner closely with development\xa0and\xa0QA lead on high-level release lifecycle\xa0and\xa0detailed release planning', 'Contribute to the definition\xa0and\xa0improvement of release management processes', 'Ensure completeness\xa0and\xa0quality of release content\xa0and\xa0supporting artefacts', 'Ensure compliance to entry\xa0and\xa0exit gating criteria on every deployment', 'Maintain\xa0and\xa0publish release calendar\xa0and\xa0publish the regular status\xa0and\xa0schedule to related stakeholders', 'Facilitate release planning\xa0and\xa0go/no-go sessions with key Stakeholders', 'Manage\xa0and\xa0identify risks that may impact release success', 'Manage\xa0and\xa0identify risks that may affect release scope, release duration,\xa0and\xa0environments']
case number: 3951
Any Job Description?=> ['Founded in 1994 and awarded the University title in 2016, The Education University of Hong Kong (EdUHK) is a publicly funded university, dedicated to the advancement of learning and teaching through a diverse offering of academic and research programmes up to doctoral level in teacher education and complementary disciplines, such as the social sciences and humanities.\xa0 The University aspires to further enhance its role as a leading university in the Asia Pacific region and beyond, with a focus on educational research, development and innovation, and recognized for its excellence in nurturing outstanding and caring professionals as well as the impact of scholarship.', 'The University has an academic/teaching staff strength of about 450 and total student headcount of about 11,000.\xa0 It has a Graduate School and three Faculties, namely, Faculty of Education and Human Development, Faculty of Humanities,', 'and Faculty of Liberal Arts and Social Sciences, comprising 16 academic departments, as well as various University-level and Faculty-level research and professional development centres.\xa0 For more information about the University, please visit', 'http://www.eduhk.hk', '.', 'We are looking for suitable candidate(s) to fill the following position(s).\xa0 If you are excited by the prospect of contributing your expertise to the development of a leading university at the heart of Asia Pacific region and beyond, we would like to hear from you.', 'Department of Literature and Cultural Studies', 'The Department of Literature and Cultural Studies seeks applications for a full-time academic position in modern Chinese literature.\xa0 All applicants must have a doctoral degree and must be able to demonstrate an active research agenda and post-qualification teaching experience in tertiary institution(s). Applicants with substantial previous experience may be considered for the rank of Associate Professor.', 'The ideal candidate will specialize in one of the department’s existing areas of strength, like Chinese literature and/or culture (including Hong Kong literature), or may have interests that extend to the department’s other disciplinary areas, like history, cultural studies, creative writing, or humanities education.\xa0 Additional interests in emerging areas like digital humanities, public history, or cultural heritage as well as knowledge and experiences in the Greater Bay Area (GBA) would also be advantages.\xa0 The ideal candidate will be able to extend the department’s national and international networks.', 'The appointee will be required to pursue a research agenda that leads to successful grant proposals and publications in recognized refereed journals.\xa0 The appointee will also contribute to programme development, teach undergraduate and postgraduate courses, supervise students on teaching practice, participate in knowledge transfer activities, and engage in departmental and faculty service.', 'A start date as soon as January 2022 is possible.']
case number: 3953
Any Job Description?=> ['Overview:', 'We are looking for responsible nice working attitude high ethical standard persons to join our new highly sophisticated and automation laboratory.\xa0Numerous full-time and part-time posts with attractive salaries depend on experience.', 'Medical Lab Technologist', 'Part1/Part2 registration with a valid practising certificate issued by the HKMLT Board.\xa0 Experience or interest in molecular testing is preferred', 'Proficiency in PC, Microsoft Excel and typing Chinese', 'Good communication skills in Cantonese, Mandarin and English', 'Laboratory Assistant / Technician', 'Diploma or certificate holder in a medical laboratory, or BSc', 'providing support for the medical laboratory operation', 'Data entry, maintenance of supplies and equipment', 'Assisting in initial specimen preparation and reports preparation', 'On the job training and chance to recommend to study HTC at HKU SPACE', 'We offer an attractive basic salary, on-the-job training and career advancement opportunity to the right candidates.', 'Please send full resume with availability and expected salary by clicking "Apply Now"', 'Benefits']

case number: 3968
Any Job Description?=> ['Your role', 'Implement new product initiatives\xa0aiming to deliver best features and usability in mobile payment services', 'Work closely with internal business stakeholders, IT and Development Team to define product feature and function specifications', 'Manage and coordinate with external partners on new feature implementation', 'Manage the product development lifecycle with multiple stakeholders from initiative to post-implementation', 'Prepare and review product specification and documentation', 'Ensure timely and quality project deliverables by defining and conducting comprehensive project &amp; UAT plan', 'To succeed in this role', 'Bachelor degree in Information Technology, Computer Science or related disciplines', '5 years’ relevant product development and management experience in a multi-national FinTech company or IT/ technology consulting firm', 'Solid experience in digital, e-Business, card scheme, mobile wallet and/ or payment related projects with experience in the capacity of project or design lead', 'Strong self-imitative with good time management skills to handle multiple initiatives/ projects', 'Strong communication, project management, business analysis, architecture design and/ or process integration skills', "HKT is an equal opportunity employer and welcomes applications from all qualified candidates. Information provided will be treated in strict confidence and will only be used for recruitment-related purposes. Personal data provided by job applicants will be used strictly in accordance with the employer's\xa0privacy statement\xa0(", 'http://www.hkt.com/privacy-statement', '), a copy of which will be provided immediately upon request.']
case number: 3981
Any Job Description?=> ["WHAT YOU'LL BE DOING :", 'Provide day-to-day first line end-user support.', 'Participate in helpdesk projects and implementation work.', 'Responsible for PC desktop equipment procurement, delivery, installation and setup.', 'Keep tracking IT assets with proper inventory control on record keeping, maintenance and related documentation.', 'Provide end-user computing hardware and software support.', 'Responsible for user account setup, hardware installation and maintenance.', 'Monitor and maintain computer systems and services.', 'WHO WE ARE LOOKING FOR:', 'Higher Diploma in Information Technology, Computer Science or equivalent.', 'Proven working experience in providing help desk support.', 'Working knowledge of help desk software and remote control.', 'Good command of both written and spoken in English and Chinese.', 'WHY YOU SHOULD JOIN US:']
case number: 3986
Any Job Description?=> ['[Ref: ITT]', 'The Job', 'This is a two-year rotational program comprised of job rotation within IT Section, mentoring by business people leader/people leader in the section, formal and on the job training, and ongoing performance feedback.', 'Participate in HKHS IT Trainee Program which is a fast track program to develop IT professionalism in housing industry.', 'Serve as consultants and work closely with business units to identify business needs.', 'Develop, maintain and support IT solutions and services.', 'Source and evaluate IT products, conduct feasibility studies and assist in recommending cost effective IT solutions.', 'Gain all rounded exposure to HKHS business and functions through cross team rotation.', 'The Person', 'Degree holder in Information Technology, Computer Science or related disciplines.', 'Broad knowledge and understanding of relevant development skills, e.g., Java, web services and HTML.', 'Knowledge of contemporary information technology including Workflow, Application Server, Web Server, Data Warehouse and Business Intelligence is preferable.', 'Good communication skill and proficiency in both English and Chinese.', 'Self-motivated and able to work under pressure.', 'Attractive remuneration package will be offered to suitable candidates. To apply, please send your application with full resume and reference quoted to Human Resources Manager by fax: 2882 4466 or through online application:']

In [240]:
#The work above tells us that we should search the job description.

#job case 3968 is another example with no requirement/responsibility.
text,line,soup=read(3968)
wordlocation(text,line,"Job Description",1,80)

['Your role',
 'Implement new product initiatives\xa0aiming to deliver best features and usability in mobile payment services',
 'Work closely with internal business stakeholders, IT and Development Team to define product feature and function specifications',
 'Manage and coordinate with external partners on new feature implementation',
 'Manage the product development lifecycle with multiple stakeholders from initiative to post-implementation',
 'Prepare and review product specification and documentation',
 'Ensure timely and quality project deliverables by defining and conducting comprehensive project &amp; UAT plan',
 'To succeed in this role',
 'Bachelor degree in Information Technology, Computer Science or related disciplines',
 '5 years’ relevant product development and management experience in a multi-national FinTech company or IT/ technology consulting firm',
 'Solid experience in digital, e-Business, card scheme, mobile wallet and/ or payment related projects with experience in the capacity of project or design lead',
 'Strong self-imitative with good time management skills to handle multiple initiatives/ projects',
 'Strong communication, project management, business analysis, architecture design and/ or process integration skills',
 "HKT is an equal opportunity employer and welcomes applications from all qualified candidates. Information provided will be treated in strict confidence and will only be used for recruitment-related purposes. Personal data provided by job applicants will be used strictly in accordance with the employer's\xa0privacy statement\xa0(",
 'http://www.hkt.com/privacy-statement',
 '), a copy of which will be provided immediately upon request.']

In [241]:
#i am trying to see if we can successfully find the job description of cases 3872 to 4000. (4001 is not included)
df['job description']=''
for i in range(3872,4001):
    text,line,soup=read(i)
    if (descri(text,line)!=[])|(descri(text,line)!=None):
        df.loc[i,'job description']=1

In [244]:
df.sum()

Requirement           87
requirement           52
REQUIREMENT            4
Requirements          77
requirements          37
Requirement:           7
requirement:           0
Requirements:         53
requirements:          1
Responsibility         3
responsibility         7
RESPONSIBILIT          9
Responsibilities      72
responsibilities       9
Responsibility:        1
responsibility:        0
Responsibilities:     47
responsibilities:      4
sum_req              318
sum_res              152
job description      129
dtype: object