In [75]:
import pandas as pd
import numpy as np
df = pd.read_csv("df.csv",header=None)

In [202]:
df

,date of post,job title,company name,location,industry,years of experience,requirement,responsibility,job description
0,,,,,,,,,
1.0,2-Nov-21,Scientist/ Research Scientist for Product deve...,DiagCor Life Science Limited,Kowloon Bay,Others,NaN,"['Ph.D. holder in Molecular Biology, Microbiol...",NaN,"['Job Duties:', 'Participate in a team for MDx..."
2.0,4-Nov-21,Data Scientist,Neo Derm (HK) Ltd,Tai Koo,Health &amp; Beauty Care,NaN,['Bachelor’s degree or above in Computer Scien...,NaN,"['About us:', 'With the trend towards\xa0Indus..."
3.0,4-Nov-21,Data Analyst Lead,A4lution Limited,Kwun Tong,Others,5 years,['Bachelor Degree or above in Computer Science...,['Work closely with senior management to under...,"['Responsibilities:', 'Work closely with senio..."
4.0,4-Nov-21,Data Analyst (at the rank/grade of Technical O...,The University of Hong Kong,Sai Wan,Education,NaN,NaN,NaN,['Data Analyst (at the rank/grade of Technical...
5.0,4-Nov-21,Graduate Data Scientist,Arup,Kowloon City,Engineering - Others,NaN,NaN,['Analyze engineering discipline business requ...,"['Responsibilities:', 'Analyze engineering dis..."
...,...,...,...,...,...,...,...,...,...
5126.0,7-Oct-21,Developer / Software Engineer - Fintech,Transaction Technologies Limited,Sai Ying Pun,Information Technology,NaN,NaN,NaN,"['RESPONSIBILITIES:', 'Work with a team to dev..."
5127.0,7-Oct-21,Medical Lab Technologist I / II,Phase Scientific International Limited,Kwun Tong,Medical/Pharmaceutical,NaN,NaN,NaN,"['Overview:', 'We are looking for responsible ..."
5128.0,7-Oct-21,Senior/System Analyst - CRM System,Page Group Hong Kong,NaN,Human Resources Management/Consultancy,NaN,NaN,NaN,['There is now an excellent chance to join in ...
5129.0,7-Oct-21,QA Manager / Release Manager (finincal project...,Linkers International Limited,Causeway Bay,Human Resources Management/Consultancy,5 years,NaN,NaN,"['THE JOB', 'Partner closely with development\..."
5130.0,7-Oct-21,System Analyst / Technical Consultant,Accentrix Company Limited,Tsim Sha Tsui,Information Technology,5 years,"['A university degree in Computer Science, Inf...",['Be responsible for leading consulting &amp; ...,['Position: System Analyst / Technical Consult...

In [77]:
col=df.iloc[0,1:]
index=df.iloc[1:,0]
df=df.iloc[1:,1:]
df.columns=col
df.set_index(index,inplace=True)

In [207]:
df["requirement"][4]="missing"

In [208]:
type(df["requirement"][4])

str

In [209]:
df["requirement"].fillna("missing", inplace=True)

0
1.0       ['Ph.D. holder in Molecular Biology, Microbiol...
2.0       ['Bachelor’s degree or above in Computer Scien...
3.0       ['Bachelor Degree or above in Computer Science...
4.0                                                 missing
5.0                                                 missing
                                ...
5126.0                                              missing
5127.0                                              missing
5128.0                                              missing
5129.0                                              missing
5130.0    ['A university degree in Computer Science, Inf...
Name: requirement, Length: 5130, dtype: object

In [210]:
type(df["requirement"][5])

float

In [197]:
dreq=df[df["responsibility"].notnull()] #requirement/responsibility/job description

In [198]:
def extractword(i):
    #it returns a list of words
    result=[]
    s=""
    for w in range(len(i)):
        k=i[w]
        if (k.isdigit()==True)|(k.isalpha()==True):
            s+=k
            if (w==(len(i)-1))&(s!=''):
                result.append(s)
        elif s!='':
            result.append(s)
            s=""
    return result

dreq["word_req"]=dreq["responsibility"].apply(extractword)    #requirement/responsibility/job description

<ipython-input-198-25561f4ad123>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dreq["word_req"]=dreq["responsibility"].apply(extractword)    #requirement/responsibility/job description

In [199]:
#popjob = ["Business Analyst","Data Analyst","Data Engineer","Data Scientist"]

BAreq=[]
for i in dreq[dreq['job title']=="Data Scientist"]["word_req"]: #"Business Analyst","Data Analyst","Data Engineer","Data Scientist"
    BAreq+=i

In [200]:
from collections import defaultdict

def leaders(xs, top=10):
    counts = defaultdict(int)
    for x in xs:
        counts[x] += 1
    return sorted(counts.items(), reverse=True, key=lambda tup: tup[1])[:top]

In [201]:
leaders(BAreq,top=80)

[('and', 44),
 ('to', 22),
 ('data', 21),
 ('business', 13),
 ('as', 11),
 ('with', 11),
 ('of', 10),
 ('the', 9),
 ('or', 9),
 ('in', 8),
 ('solution', 7),
 ('experience', 7),
 ('such', 7),
 ('a', 6),
 ('big', 5),
 ('through', 5),
 ('statistical', 5),
 ('testing', 5),
 ('new', 5),
 ('analysis', 4),
 ('related', 4),
 ('side', 4),
 ('predictive', 4),
 ('analyses', 4),
 ('A', 4),
 ('solutions', 3),
 ('build', 3),
 ('development', 3),
 ('teams', 3),
 ('system', 3),
 ('Computer', 3),
 ('Science', 3),
 ('other', 3),
 ('be', 3),
 ('able', 3),
 ('your', 3),
 ('prescriptive', 3),
 ('models', 3),
 ('turn', 3),
 ('into', 3),
 ('actionable', 3),
 ('insights', 3),
 ('Unlock', 3),
 ('operational', 3),
 ('efficiency', 3),
 ('optimization', 3),
 ('robust', 3),
 ('Drive', 3),
 ('smarter', 3),
 ('B', 3),
 ('Explore', 3),
 ('master', 3),
 ('technologies', 3),
 ('advance', 3),
 ('customer', 3),
 ('recommenders', 3),
 ('risk', 3),
 ('mitigation', 3),
 ('fraud', 3),
 ('detection', 3),
 ('Requirements', 3),
 ('degree', 3),
 ('different', 2),
 ('units', 2),
 ('develop', 2),
 ('R', 2),
 ('SQL', 2),
 ('requirements', 2),
 ('local', 2),
 ('are', 2),
 ('Requirement', 2),
 ('years', 2),
 ('software', 2),
 ('will', 2),
 ('knowledge', 2),
 ('relevant', 2),
 ('communicate', 2),
 ('present', 2),
 ('on', 2),
 ('you', 2)]

In [32]:
df["responsibility"].isnull()

0
1.0        True
2.0        True
3.0       False
4.0        True
5.0       False
          ...
5126.0     True
5127.0     True
5128.0     True
5129.0     True
5130.0    False
Name: responsibility, Length: 5130, dtype: bool